.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode header,
.dark-mode footer {
  background-color: #1e1e1e;
  color: #ffffff;
  border-bottom: 1px solid #333;
}

.dark-mode nav ul li a {
  color: #ffffff;
}

.dark-mode #search-bar input {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
}

.dark-mode #search-bar button {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.dark-mode #search-bar button:hover {
  background-color: #555;
}

.dark-mode #search-results {
  background-color: #222;
  color: #ffffff;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
}
